.privacy-group p{
    padding-left: 31px;
    font-weight: bolder;
}
.privacy-group>p:nth-child(1){
    font-weight: normal;
}
.privacy-group>p{
    margin-bottom: 33px;
}
.privacy-group>ul>li{
    margin-bottom: 33px;
}
.privacy-group strong{
    font-weight: bolder;
}
.policy-item{
    padding-left: 28px;
    font-weight: bolder;
}
.policy-item li{
    list-style: disc;

}
